html, body {
    width: 100%;
    height: 100%;
    
}

.calculadora {
    border: 3px rgb(8, 39, 124) ridge;
    width: 250px;
    text-align: center;
    background-color: #82827f;
}

#textoPantalla {
    width: 185px;
    border: 2px black solid;
    text-align: right;
    position: relative;
    left: 23px;
    padding: 0px 5px;
    background-color: white;
    font-family: "courier new";
    overflow: hidden;
}

.calculadora [type=button] {
    width: 35px;
    padding: 0;
    margin: 5px 5px;
    border-radius: 5px;
}

.calculadora input.largo {
    color: red;
    width: 60px;
}